@import "reset.css";

/* Color Theme Swatches in Hex */
.Geraniums-1-hex { color: #FC4935; }
.Geraniums-2-hex { color: #F20587; }
.Geraniums-3-hex { color: #274001; }
.Geraniums-4-hex { color: #6F8C04; }
.Geraniums-5-hex { color: #D90707; }

:root {
  /* colors */
  --main-bg-color: #274001;
  --main-color: #0a1100;
  --footer-bg-color: #0a1100;
  --header-bg-color: #f8efdd;
  --footer-color: #f8efdd;

  /* dimensions */
  --header-height: 50px;
  --footer-height: 50px;
  --header-divider-height: 5px;
}

/* elements */

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  /* margin: 0; */
  margin-top: var(--header-height);
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--header-bg-color);
  height: var(--header-height);
  /* TODO: better way to make header sticky? */
  position: fixed;
  /* display:flex; */
  width: 100%;
  top: 0;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
  height: var(--footer-height);
  position: fixed;
  bottom: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ids */

#header-divider {
  background-color: #FC4935;
  height: var(--header-divider-height);
  width: 75%;
  position: relative;
  display: flex;
  margin: auto;
  margin-top: calc(var(--header-height) - (var(--header-divider-height) / 2));
}

#header-logo {
  width: 15%;
  align-self: center;
  margin: 0 auto;
  bottom: 10px;
}

/* classes */
