@import "reset.css";

/* Color Theme Swatches in Hex */
.Geraniums-1-hex { color: #FC4935; }
.Geraniums-2-hex { color: #F20587; }
.Geraniums-3-hex { color: #274001; }
.Geraniums-4-hex { color: #6F8C04; }
.Geraniums-5-hex { color: #D90707; }

:root {
  --main-bg-color: #1d3000;
  --main-color: #FC4935;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
